// variables
$border:1px solid black;

// list of colors
$grey:#ccc;
$white:#fff;
$blue:#2c3e50;


// list of fonts
$font: 'Poppins', sans-serif;


// custom style

*{
  padding: 0;
  margin: 0;
}
body{
  width: 100%;
  text-align: center;
  background-color: #ecf0f1;
}

// preloader
.overlay{
  width:100%;
  height:100%;
  background-color:#bdc3c7;
  position:fixed;
  top:0;
  left:0;
}
.loader{
  width:100px;
  height:100px;
  border:2px solid #fff;
  position:relative;
  top:40%;
  left:45%;
  border-radius:100%;
  border-top:3px solid #2980b9;
  animation:spin 1s infinite linear;
}

@keyframes spin{
  from{
    transform:rotate(0deg);
  }
  to{
    transform:rotate(360deg);
  }
}

// Navigation
.nav{
  width: 100%;
  box-shadow: 0px 0px 15px $grey;

.navbar-brand{
  padding: 0;
    img{
      width: 80px;
      height:55px;
    }
}
  .navbar{
    width: 100%;
    height: 60px;
    background-color: $white;
  }
  span{
    float: left;
  }
  li{
     margin-left: 22px;
  }
  a{
    padding: 0px 10px;
    float:left;
    color: $blue;
    font-weight: 600;
  }
}

  .fa-home{
    color: #2529d8;
  }
  .fa-google-wallet{
    color: #febd17;
  }
  .fa-globe{
    color: #622599;
  }
  .fa-video-camera{
    color: #cd201f;
  }
  .fa-television{
    color: #e50914;
  }
  .fa-eercast{
    color: #204056;
  }
  .fa-imdb{
    color: #f5de50;
  }
  .fa-search{
    color: #146eb4;
  }

// top-header
.top-header{
  .image-container{
  width: 100%;
  height: 580px;
  margin: 6px 0px;
  text-align: center;
  }
  img{
    width:100%;
    height:100%;
  }
  .movie-details{
    position: absolute;
    width: 100%;
    height:98%;
    top:5.8px;
    left:0;
    color: $white;
    background-color:rgba(0,0,0,0.5);
    .detail-list{
     margin-top: 50%;
     opacity: 0.9;
     .title{
      padding: 30px 0px;
      font-size: 25px;
      letter-spacing: 0.5px;
      word-spacing: 1px;
      font-weight: 600;
     }
     .imdb,
     .genre,
     {
       font-size: 14px;
     }
     .description{
       font-size: 15px;
       list-style: 0.3px;
       word-spacing: 1px;
       padding: 8px;
     }
    }
  }
}

// Movies
.category-title{
  h3{
    float: left;
  }
}
.cards{
   border: $border;
   margin-top: 60px;

  .cards-content{
    border: $border;
    margin: 30px 10px;
    float: left;
    width: 243px;
    height: 300px;
    img{
      width: 100px;
      height: 100px;
    }
  }
}
