
  <table class="table">
  <thead class="thead-default">
    <tr>
      <div class="table-header">
        <th>#</th>
        <th>Server</th>
        <th>Stream</th>
        <th>Download</th>
      </div>
    </tr>
  </thead>
  <tbody>

    <!-- First-Row -->
    <tr>
      <th scope="row">1</th>
      <td><i class="fa fa-server" aria-hidden="true"></i> server 1</td>
      <td>
        <div class="options">
          <a href="{{page.server1}}"><span><i class="fa fa-steam" aria-hidden="true"></i></span> stream</a>
        </div>
      </td>
      <td>
        <div class="options">
          <a href="{{page.server1}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span> download</a>
        </div>
      </td>
    </tr>




    <!-- Second-Row -->
    {% if page.index == "2" %}
    <tr>
      <th scope="row">2</th>
      <td><i class="fa fa-server" aria-hidden="true"></i> server 2</td>
      <td>
        <div class="options">
          <a href="{{page.server2}}"><span><i class="fa fa-steam" aria-hidden="true"></i></span> stream</a>
        </div>
      </td>
      <td>
        <div class="options">
          <a href="{{page.server2}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span> download</a>
        </div>
      </td>
    </tr>
    {% endif %}

<!-- Third-Row -->
{% if page.index == "3" %}
    <tr>
      <th scope="row">3</th>
      <td><i class="fa fa-server" aria-hidden="true"></i> server 3</td>
      <td>
        <div class="options">
          <a href="{{page.server3}}"><span><i class="fa fa-steam" aria-hidden="true"></i></span> stream</a>
        </div>
      </td>
      <td>
        <div class="options">
          <a href="{{page.server3}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span> download</a>
        </div>
      </td>
    </tr>
 {% endif %}


    <!-- Fourth-Row -->
    {% if page.index == "4" %}
    <tr>
      <th scope="row">4</th>
      <td><i class="fa fa-server" aria-hidden="true"></i> server 4</td>
      <td>
        <div class="options">
          <a href="{{page.server4}}"><span><i class="fa fa-steam" aria-hidden="true"></i></span> stream</a>
        </div>
      </td>
      <td>
        <div class="options">
          <a href="{{page.server4}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span> download</a>
        </div>
      </td>
    </tr>
 {% endif %}


<!-- Fifth-Row -->
{% if page.index == "5" %}
    <tr>
      <th scope="row">5</th>
      <td><i class="fa fa-server" aria-hidden="true"></i> server 5</td>
      <td>
        <div class="options">
          <a href="{{page.server5}}"><span><i class="fa fa-steam" aria-hidden="true"></i></span> stream</a>
        </div>
      </td>
      <td>
        <div class="options">
          <a href="{{page.server5}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span> download</a>
        </div>
      </td>
    </tr>
 {% endif %}

  </tbody>
  </table>

