<!--==================================== Navigation ====================================-->

<div class="nav" id="nav">

  <nav class="navbar navbar-expand-lg">
    <a class="navbar-brand" href="#">MoviexNow</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <span><i class="fa fa-home" aria-hidden="true"></i></span>
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <span><i class="fa fa-google-wallet" aria-hidden="true"></i></span>
          <a class="nav-link " href="#">Genre</a>

          <ul class="sub-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Adventure</a></li>
            <li><a href="#">Animation</a></li>
            <li><a href="#">Biography</a></li>
            <li><a href="#">Comedy</a></li>
            <li><a href="#">Crime</a></li>
            <li><a href="#">Documentry</a></li>
            <li><a href="#">Drama</a></li>
            <li><a href="#">Family</a></li>
            <li><a href="#">Fantasy</a></li>
            <li><a href="#">History</a></li>
            <li><a href="#">Horror</a></li>
            <li><a href="#">Mystery</a></li>
            <li><a href="#">News</a></li>
            <li><a href="#">Romance</a></li>
            <li><a href="#">Sci-Fi</a></li>
            <li><a href="#">Sport</a></li>
            <li><a href="#">Thriller</a></li>
            <li><a href="#">War</a></li>
          </ul>

        </li>

        <li class="nav-item">
          <span><i class="fa fa-globe" aria-hidden="true"></i></span>
          <a class="nav-link" href="#">Country</a>
        </li>
        <li class="nav-item">
          <span><i class="fa fa-video-camera" aria-hidden="true"></i></span>
          <a class="nav-link" href="#">Movies</a>
        </li>
        <li class="nav-item">
          <span><i class="fa fa-television" aria-hidden="true"></i></span>
          <a class="nav-link " href="#">Tv Series</a>
        </li>
        <li class="nav-item">
          <span><i class="fa fa-eercast" aria-hidden="true"></i></span>
          <a class="nav-link " href="#">Anime</a>
        </li>
        <li class="nav-item">
          <span><i class="fa fa-imdb" aria-hidden="true"></i></span>
          <a class="nav-link " href="#">Top IMDB</a>
        </li>
        <li class="nav-item">
          <span><i class="fa fa-search" aria-hidden="true"></i></span>
        </li>
      </ul>
    </div>
  </nav>
</div>
