
  <table class="table">
  <thead class="thead-default">
    <tr>
      <div class="table-header">
        <th>#</th>
        <th>Episode</th>
        <th>Season</th>
        <th>Quality</th>
        <th>Stream</th>
        <th>Download</th>
      </div>
    </tr>
  </thead>
  <tbody>


    <!-- First-Row -->
      {% if page.index1 == 1 %}

    <tr>
      <th scope="row">{{page.index1}}</th>
      <td>{{page.episode1}}</td>
      <td>{{page.season1}}</td>
        <td>{{page.quality1}}</td>
      <td>
        <div class="stream-options">
          <a href="{{page.server1}}"><span><i class="fa fa-steam" aria-hidden="true"></i></span> stream</a>
        </div>
      </td>
      <td>
        <div class="download-options">
          <a href="{{page.server1}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span> download</a>
        </div>
      </td>
    </tr>

    {% endif %}


    <!-- Second-Row -->
      {% if page.index2 == 2 %}

    <tr>
      <th scope="row">{{page.index2}}</th>
      <td>{{page.episode2}}</td>
      <td>{{page.season1}}</td>
      <td>{{page.quality1}}</td>
      <td>
        <div class="stream-options">
          <a href="{{page.server2}}"><span><i class="fa fa-steam" aria-hidden="true"></i></span> stream</a>
        </div>
      </td>
      <td>
        <div class="download-options">
          <a href="{{page.server2}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span> download</a>
        </div>
      </td>
    </tr>

    {% endif %}


    <!-- Third-Row -->
      {% if page.index3 == 3 %}

    <tr>
      <th scope="row">{{page.index3}}</th>
      <td>{{page.episode3}}</td>
      <td>{{page.season1}}</td>
      <td>{{page.quality1}}</td>
      <td>
        <div class="stream-options">
          <a href="{{page.server3}}"><span><i class="fa fa-steam" aria-hidden="true"></i></span> stream</a>
        </div>
      </td>
      <td>
        <div class="download-options">
          <a href="{{page.server3}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span> download</a>
        </div>
      </td>
    </tr>

    {% endif %}


    <!-- Fourth-Row -->
      {% if page.index1 == 4 %}

    <tr>
      <th scope="row">{{page.index4}}</th>
      <td>{{page.episode4}}</td>
      <td>{{page.season1}}</td>
      <td>{{page.quality1}}</td>
      <td>
        <div class="stream-options">
          <a href="{{page.server4}}"><span><i class="fa fa-steam" aria-hidden="true"></i></span> stream</a>
        </div>
      </td>
      <td>
        <div class="download-options">
          <a href="{{page.server4}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span> download</a>
        </div>
      </td>
    </tr>

    {% endif %}


    <!-- Fifth-Row -->
      {% if page.index1 == 5 %}

    <tr>
      <th scope="row">{{page.index5}}</th>
      <td>{{page.episode5}}</td>
      <td>{{page.season1}}</td>
      <td>{{page.quality1}}</td>
      <td>
        <div class="stream-options">
          <a href="{{page.server5}}"><span><i class="fa fa-steam" aria-hidden="true"></i></span> stream</a>
        </div>
      </td>
      <td>
        <div class="download-options">
          <a href="{{page.server5}}"><span><i class="fa fa-arrow-down" aria-hidden="true"></i></span> download</a>
        </div>
      </td>
    </tr>

    {% endif %}





































  </tbody>
  </table>
