---
layout: compress
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <!-- Css files linked -->
 <link rel="stylesheet" href="{{site.baseurl}}/css/normalize.css">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
 <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
 <link href="http://vjs.zencdn.net/6.2.7/video-js.css" rel="stylesheet">
 <link rel="stylesheet" href="{{site.url}}/css/font-awesome.min.css">
 <link rel="stylesheet" href="{{site.url}}/css/owl.carousel.min.css">
 <link rel="stylesheet" href="{{site.url}}/css/style.css">
 <link rel="shortcut icon" href="{{site.url}}/assets/favicon.png">

  <!-- Meta tags -->

<meta name="title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="description" content="{% if page.description%}{{page.description}}{% else%}{{site.description}}{% endif%}">
<meta name="keywords" content="movies online free, moviexnow, moviexnow.com, watch free movies, watch online movies, free online streaming, los movies, full movies,
      watch films online, watch movies free online, free movies to watch, online movies free, watch movies free,
      free full movies online, movie times, movieonline, watch hd movies,
      watch HD films, Hot new movies, stream movies online free">
<meta name="url" content="{% if page.url%}{{page.url}}{% else %}{{site.url}}{% endif %}">
<meta name="image" content="{%if page.thumbnail %}{{ page.thumbnail }}{% else %}{{ site.thumbnail }}{% endif %}">

<meta property="og:locale" content="en_US">
<meta property="og:type" content="post">
<meta property="og:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} - MoviexNow">
<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:image" content="{%if page.thumbnail %}{{ page.thumbnail }}{% else %}{{ site.thumbnail }}{% endif %}" />
<meta property="og:site_name" content="{{site.name}}">
<meta property="article:publisher" content="{{site.name}}" />
<meta property="article:author" content="{{site.author}}" />
<meta property="article:published_time" content="{{ page.date }}" />
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">

<meta name="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
<meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta name="twitter:site" content="{{site.author}}" />
<meta name="twitter:creator" content="{{site.author}}">
<meta name="twitter:card" content="summary">
<meta name="google-site-verification" content="WA6sPB3qR__ES7bWGu2COaxytjE3HALth0rd4edpp5U" />
</head>
<body>

<div class="wrapper">

<!-- nav -->
<div class="nav">
  {% include nav.html %}
</div>

{{content}}

<!-- footer -->
<footer>
  {% include footer.html %}
</footer>

</div>


<!-- Javascript files linked -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
<script src="{{site.url}}/js\owl.carousel.min.js" charset="utf-8"></script>
<script src="{{site.url}}/js/main.js" charset="utf-8"></script>
<script src="http://vjs.zencdn.net/6.2.7/video.js"></script>
<script src="https://unpkg.com/videojs-flash/dist/videojs-flash.js"></script>
<script src="https://unpkg.com/videojs-contrib-hls/dist/videojs-contrib-hls.js"></script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59b2315608b86ac1"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-106172184-1', 'auto');
  ga('send', 'pageview');

</script>
</body>
</html>
