---
layout: default
---

<!--============================================================================
                              my video-player
=============================================================================-->

<div class="video-player">
<video id="my-video" class="video-js" controls preload="auto"
 poster="{{page.thumbnail}}" data-setup="{}">
   <source src="{{page.server}}" type='video/mp4'>
    <source src="{{page.server}}" type='video/webm'>
    <p class="vjs-no-js">
     To view this video please enable JavaScript, and consider upgrading to a web browser that support HTML5 video Player
   </p>
 </video>
</div>

<!--============================================================================
                                 share button
=============================================================================-->

<div class="addthis_inline_share_toolbox"></div>

<!--============================================================================
          movie-detail container & stream option container
=============================================================================-->


<div class="movie-complete-details">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8">

        <!-- container-1 -->

        <div class="details">
         <div class="image-container">
           <img src="{{page.thumbnail}}" alt="">
         </div>
         <div class="post-details">
           <h2>{{page.category}}</h2>
           <h1>{{page.title}}</h1>
           <div class="star">
             <span></span>
           </div>
           <div class="extra-detail-container">
             <p>Director {{page.director}}</p>
           </div>
         </div>
        </div>
      </div>
      <div class="col-lg-4">

         <!-- container-1 -->

        <div class="option">
        <p>this is option container</p>
        </div>
      </div>
    </div>
  </div>
</div>


{{content}}
